<!doctype html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>   
</head>
<body>
  <h2>Audacy Telemetry Data Generator - Widget Client (socket.io)</h2>
   <hr />
   <p>This web page acts like a Quindar widget. If there is any data change pushed from server, this client should be automatically refreshing the new data change.</p>

   <div id="attitudeDataContainer">
      <p>Attitude data:<input type="text" id="attitudeData" size="180"></p>
      <p>Position data:<input type="text" id="positionData" size="180"></p>
      <p>Vehicle data:<input type="text" id="vehicleData" size="180"></p>
      <p>Orbit data:<input type="text" id="orbitData" size="180"></p>
   </div>
   <p>
      <button type="button" onclick="clearIt()">Clear </button>
      <button type="button" onclick="emitIt()">Notify </button>
   </p>

<script>
   var socket = io('ws://localhost:8081');

   $(window).on('onload', function() {  // beforeunload
    socket.close();
   });

   $(window).on('beforeunload', function() {  // beforeunload
    socket.close();
   });

/**
   socket.on('welcome', function(data) {
      addMessage(data.message);

                // Respond with a message including this clients' id sent from the server
                //socket.emit('i am client', {data: 'foo!', id: data.id});
   });

   socket.on('welcome2', function(data) {
      //addMessage(data.message);
      addMessage(data);
   });

   socket.on('i am client', function(data) {
      //addMessage(data.message);
      document.getElementById("attitudeData").value = data.message;
   });

   socket.on('text', function(data) {
      //addMessage(data.aha);
      document.getElementById("otherData").value = data.aha;
   });

   socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
      socket.emit('welcome', { message: 'Welcome!'});
   });
   **/
   /**
   socket.on('telemetry', function(telemetryData) {     
      // data is already JSON, e.g. data.type, data.data
         if (telemetryData.type == "attitude") {
            //alert("server has just pushed attitude data here!");
            document.getElementById("attitudeData").value = telemetryData.data;
         }; 
         if (telemetryData.type == "position") {
            //alert("server has just pushed position data here!");
            document.getElementById("positionData").value = telemetryData.data;
         };
         if (telemetryData.type == "vehicle") {
            //alert("server has just pushed vehicle data here!");
            document.getElementById("vehicleData").value = telemetryData.data;
         };
         if (telemetryData.type == "orbit") {
            //alert("server has just pushed orbit data here!");
            document.getElementById("orbitData").value = telemetryData.data;
         }
         
   });
   **/

   socket.on('telemetry', function(telemetryData) {   
    alert("server has just pushed orbit data here! " + telemetryData.data);
   }); 

   socket.on('attitude', function(telemetryData) {  
      document.getElementById("attitudeData").value = telemetryData.data;
      //alert("server has just pushed orbit data here! " + telemetryData.data);
   });

   socket.on('position', function(telemetryData) {  
      document.getElementById("positionData").value = telemetryData.data;
      //alert("server has just pushed orbit data here! " + telemetryData.data);
   });

   socket.on('vehicle', function(telemetryData) {  
      document.getElementById("vehicleData").value = telemetryData.data;
      //alert("server has just pushed orbit data here! "  + telemetryData.data);
   });

   socket.on('orbit', function(telemetryData) {  
      document.getElementById("orbitData").value = telemetryData.data;
      //alert("server has just pushed orbit data here! "  + telemetryData.data);
   });

   socket.on('error', console.error.bind(console));
   socket.on('message', console.log.bind(console));

/**
   socket.on('*', function(data) {
     alert('client27() *=' + data);
   });

   socket.on('message', function(data) {
     alert('client27() message=' + data);
   });
   socket.on('error', console.error.bind(console));
**/

   function emitIt() {
    socket.emit('fromClient', { my: 'dataX' });
   }

   function attitudeIt() {
    socket.emit('telemetry', {"type": 'attitude' });
   }

   
   function clearIt() {
    document.getElementById("attitudeData").value = "";
    document.getElementById("positionData").value = "";
    document.getElementById("vehicleData").value = "";
    document.getElementById("orbitData").value = "";
   }
</script>   
</body>
</html>
