<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Audacy Telemetry Data Generator - notify socket.io server for new data stream</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
   <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
</head>

<body>
   <h2>Audacy Telemetry Data Generator - notifying socket.io server with new data</h2>
   <hr />
   <p>Click a button below to notify a change in telemetry data. The backend server will push out new changes to Qindar widgets.</p>
   <button type="button" onclick="notifyIt('attitude')">Attitude Change </button>
   <button type="button" onclick="notifyIt('position')">Position Change </button>
   <button type="button" onclick="notifyIt('vehicle')">Vehicle Change </button>
   <button type="button" onclick="notifyIt('orbit')">Orbit Trajectory Change </button>

<script>
   var socket = io('ws://localhost:8081');

   $(window).on('onload', function() {  // beforeunload
    socket.close();
   });

   $(window).on('beforeunload', function() {  // beforeunload
    socket.close();
   });

   socket.on('connection', function() {
   	  alert("connected");
   });

   socket.on('error', console.error.bind(console));
   socket.on('message', console.log.bind(console));


function notifyIt(dataType) {
   socket.emit('telemetry', {"type": dataType });
}
</script>
</body>
</html>